<?xml version="1.0"?>

<world name="demo_world" gravity="0.0 0.0 -9.81">

	<robot name="stanbot">
		<model dir="./resources" path="stanbot.urdf" name="stanbot" />
		<origin xyz="-1.0 0.0 0.01" rpy="0 0 0" />
	</robot>
	<light name="light1" type="directional">
		<position xyz="2.0 -2.0 2.0" />
		<lookat xyz="0.0 0.0 0.0" />
		<color rgba="1 0 0 1.0" />
	</light>

	<light name="light2" type="directional">
		<position xyz="2.0 2.0 2.0" />
		<lookat xyz="0.0 0.0 0.0" />
		<color rgba="1 0 0 1.0" />
	</light>

	<camera name="camera_fixed">
		<position xyz="0.0 -5.0 1.0" />
		<vertical xyz="0.0 0.0 1.0" />
		<lookat xyz="0.0 0.3 1.0" />
	</camera>

	<static_object name="woodFloor">
		<origin xyz="0.0 0.0 0.0" rpy="1.5757 0 1.5757" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../model/objects/meshes/wood_floor_03.obj" />
	        </geometry>
	    </visual>
	    <collision>
	        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
	        <geometry>
	            <box size="5.0 5.0 5.0" />
	        </geometry>
	    </collision>
	</static_object>



	<static_object name="mat1">
		<origin xyz="-0.5 0.0 0.01" rpy="0 0 -1.5" />
	    <visual>
	        <origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
	            <mesh filename="../../model/objects/meshes/yoga_mat_02.obj" />
	        </geometry>
	    </visual>
	    <collision>
	        <origin xyz="-0.5 0.0 0.01" rpy="0 0 0" />
	        <geometry>
	            <box size="0.1 0.1 0.1" />
	        </geometry>
	    </collision>
	</static_object>


</world>
